* {
  padding: 0;
  margin: 0;
}
.image-1 img {
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}
.div-1 {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.div-1 .div-1-1 {
  width: 500px;
  margin-left: 150px;
  margin-top: 30px;
}
.div-1 .div-1-1 .h-1 {
  padding: 10px;
  margin-left: 20px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 40px;
}
.div-1 .div-1-1 .h-2 {
  padding: 10px;
  margin-left: 20px;
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(163, 0, 63);
  font-size: 55px;
}
.div-1 .div-1-1 p {
  padding: 30px;
}
.link-1 {
  margin-left: 30px;
  background-color: rgba(204, 0, 44, 0.61);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  padding-right: 30px;
  padding-left: 30px;
}
.div-1 .div-1-2 img {
  height: 430px;
  width: 530px;
}
/*--------part-1--close------------*/
.container-2 img {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.div-2 {
  top: 650px;
  position: absolute;
  display: flex;
}
.container-2 .div-2 .div-2-1 img {
  height: 600px;
  margin-left: 50px;
}
.container-2 .div-2 .div-2-2 {
  width: 500px;
  margin-left: 0px;
  height: 500px;
  margin-top: 120px;
}
.container-2 .div-2 .div-2-2 h1 {
  text-transform: capitalize;
  padding: 20px;
  margin-left: 10px;
}
.container-2 .div-2 .div-2-2 p {
  padding: 20px;
  font-size: 15px;
  font-weight: 300;
  text-align: justify;
  margin-left: 10px;
}
/*------------part-3 starts-----------*/
.p-3 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  top: 1300px;
  text-align: center;
  margin-top: 100px;
}
.div-3 {
  background-image: url(/photos/latest-work-bg.png);
  height: 100vh;
}
.div-3-1 {
  display: flex;
  justify-content: space-between;
}
.div-3-1 img {
  height: 300px;
  margin-top: 50px;
}

/*-------part-3 close-------*/
.div-4 {
  background-image: url(/photos/footer-bg.png);
  height: 100vh;
}
.div-4 .div-4-1 {
  align-items: center;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  text-transform: capitalize;
  margin-top: 20px;
}
.div-4 .div-4-1 h1 {
  padding: 30px;
}
.div-4 .div-4-1 p {
  padding: 20px;
}

.div-5 {
  width: 350px;
  margin-left: 450px;
  position: absolute;
  margin-top: 100px;
  text-align: center;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  color: white;
  background-color: rgb(245, 63, 154);
}
